{% extends 'base.html' %}

{% block title %}My Cart{% endblock title %}

{% load static %}

{% block content %}

    <link rel='stylesheet' href="{% static 'css/cart.css' %}"/>

<div class='container mt-4'>
    <h2 class="mb-4">My Cart</h2>
    {% if cart_items %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>
                        <form class="d-flex" action="{% url 'orders:update_cart_item' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="number" value="{{ item.quantity }}" min="0" max="{{ item.product.stock }}" class="form-control" name="quantity">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                        
                    </td>
                    <td>${{ item.product.price }}</td>
                    <td>${{ item.total }}</td>
                    <td>
                        <a href="{% url 'orders:delete_cart_item' item.id %}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h3>Total Amount: ${{ total_amount }}</h3>
        <div>
            <a href="{% url 'shope:index' %}" class='btn btn-primary me-2'>Continue Shopping</a>
            <a href="{% url 'orders:proceed_to_checkout' %}" class='btn btn-success'>Proceed To Checkout</a>
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning mt-4" role="alert">
        <h2>Cart Is Empty</h2>
    </div>
    {% endif %}
</div>
{% endblock content %}
