/* Update Cart Button Style */
.btn-update-cart {
    background-color: #018fbe; /* Blue background */
    color: white; /* White text color */
    padding: 7px 17px; /* Padding for the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Inline block to allow padding */
    font-size: 16px; /* Font size */
    margin: 10px 0; /* Margin for spacing */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.btn-update-cart:hover {
    background-color: #005f6b; /* Darker blue on hover */
}
