{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'book_shope:index' %}">
      <img src="{% static 'images/logo.png' %}" alt="Book Shope Logo" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user }}
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <form action="{% url 'users:logout' %}" method="post">
                <li>
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item" href="#">Logout</button>
                </li>
              </form>
            {% else %}
              <li>
                <a class="dropdown-item" href="/users/login">Login</a>
              </li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'book_orders:cart_view' %}">My Cart</a></li>
            <li><a class="dropdown-item" href="{% url 'book_orders:orders' %}">Your Orders</a></li> <!-- Correct URL pattern -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" action="{% url 'book_shope:index' %}" method="get">
        <input class="form-control me-2" type="search" name="product_name" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
