
{% for product in products %}
    <div class="card" style="width: 18rem; margin:7px">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><span style="color: red">Name:</span> {{ product.name }}</h5>
            <p class="card-text"><span style="color: red">Price:</span> ${{ product.price }}</p>
            <p class="card-text"><span style="color: red">Categories: </span> <span class='badge text-bg-secondary'>{{ product.category.all|join:', ' }}</span></p>
            <p class="card-text">Description: {{ product.description|truncatewords:20 }}</p>
            <a href="#" class="btn btn-sm btn-outline-primary">Add to Card</a>
            <a href="{% url 'book_shope:detail_product' product.id %}" class="btn btn-sm btn-primary">View Details</a>
        </div>
    </div>
{% endfor %}